<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="e91a6564-62fe-4ed6-b146-f4f1a952309a"
            Publisher="CN=denisok"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BroadcastConsole.MetroClient</DisplayName>
    <PublisherDisplayName>denisok</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BroadcastConsole.MetroClient.App">
        <VisualElements
            DisplayName="BroadcastConsole.MetroClient"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BroadcastConsole.MetroClient"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>